*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
}

.top{
    height: 500px;
    width: 500px;
}

.body{
background-color: black;
display: flex;
margin: 20px;
padding: 10px;
justify-content: space-between;
align-items: row;
}

.container{
    background-color: wheat;
    display: grid;
    margin: 5px;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
}

.container2{
    background-color: brown;
    display: flex;
    margin: 5px;
    padding: 20px;
    justify-content: space-between;
   flex-direction: row;

}

.container3{
    background-color: blueviolet;
    display: flex;
    margin:5px ;
    padding: 20px;
    justify-content: space-between;
flex-direction: row;
}


